:root {
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);
    --primary-dark-green: hsl(159, 47%, 18%);

    --neutral-dark-blue: hsl(212, 21%, 14%);
    --neutral-grayish-blue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* mobile */
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    min-height: 100vh;
    color: var(--neutral-grayish-blue);
    background-color: var(--primary-cream);
  /*   padding: 2rem 2rem 0 2rem; */
  }

  h1 {
    font-family: "Fraunces", serif;
    color: var(--neutral-dark-blue);
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
  width: 100%;
  padding: 0 1.5rem;
}

.product__description {
  line-height: 1.5rem;
}

#product {
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 2rem;
} 

img {
  border-radius: 20px 20px 0 0;
  flex: 1 0 50%;
  object-fit: cover;
 }

  .product__price__group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

.product__price {
    font-family: "Fraunces", serif;
    color: var(--primary-dark-cyan);
    font-weight: 700;
    font-size: 1.7rem;
    margin-right: 20px;
}

.ptoduct__price__original {
    text-decoration: line-through;
}

  .product__content {
    padding: 2rem;
    border-radius: 0 0 20px 20px;
  }

  .product__category {
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: var(--primary-dark-cyan);
    color: var(--neutral-white);
    padding: 20px;
    border-style: none;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

  button:hover {
      background-color: var(--primary-dark-green);
  }

  button:active {
      background-color: var(--primary-dark-green);
  }

.svg-icon {
    margin-right: 1.5rem;
  }

  /* screen */
  @media only screen and (min-width: 768px) {
    body {
      display: grid;
      place-content: center;
    }
    #product {
      flex-direction: row;
      max-width: 600px;
    }
    img {
      border-radius: 20px 0 0 20px;
    }
}
